<!DOCTYPE html>
<html>
<head>
	<title>Wantedly Skill Recommendations</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!--[if lt IE 9]>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	  </script>
	<![endif]-->
</head>

<body>
	<% @users = User.find_each %>

    <div class="container">
		<% flash.each do |message_type, message| %>
			<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
		<% end %>

		<%= render 'layouts/header' %>
	
        <div class="row">
            <div class="col-md-9">
                <%= yield %>
            </div>

            <div class="col-md-3">
				<%= render 'layouts/userlist' %>
			</div>
        </div>
    </div>

</body>
</html>